{
  "openapi": "3.1.0",
  "info": {
    "title": "Hashtag Web3 static catalogs",
    "version": "1.2.0",
    "description": "Human website first. Machine-readable data is served as static JSON under /data/ (CDN). No hosted MCP or public REST search API."
  },
  "servers": [
    { "url": "https://hashtagweb3.com" }
  ],
  "paths": {
    "/data/nomads/cities.json": {
      "get": { "summary": "Nomad city reference index", "responses": { "200": { "description": "City summaries with slug, country, timezone, estimated monthly USD costs and source reference scores. See /nomad-data-notices.txt for data provenance and attribution." } } }
    },
    "/data/nomads/cities/{slug}.json": {
      "get": { "summary": "One nomad city reference", "parameters": [{ "name": "slug", "in": "path", "required": true, "schema": { "type": "string" }, "description": "A slug from the city index, such as lisbon." }], "responses": { "200": { "description": "City details, cost breakdown, monthly climate, connectivity and community links." }, "404": { "description": "Unknown city" } } }
    },
    "/data/nomads/places.json": {
      "get": { "summary": "Compact nomad place directory", "responses": { "200": { "description": "Object with cities (city slugs) and rows. Row fields: id, name, category index, latitude, longitude, city index, website, source quality, rating, review count, address. Categories: 0 coliving, 1 hostel, 2 apartment, 3 guesthouse, 4 coworking. Zero rating/review count means unavailable. Imported directory, not live availability; includes OpenStreetMap contributor data." } } }
    },
    "/data/nomads/passports.json": {
      "get": { "summary": "Available passport reference files", "responses": { "200": { "description": "Array of passport countries with id, name and ISO code." } } }
    },
    "/data/nomads/passports/{id}.json": {
      "get": { "summary": "Audited entry references for one passport", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "An id from the passport index, such as india." }], "responses": { "200": { "description": "Version 4 object with passport, scope, sources and destinations (name, iso, review, rule). Review is checked for a government-backed baseline, historical for dated official archives, or unresolved for an inconclusive official review. Review status is separate from the reported entry category. Rule t: vf visa-free, voa visa on arrival, ev eVisa, eta electronic authorization/registration, vr visa or travel permit required (does not exclude eVisa), fm freedom of movement, na entry not permitted, unknown no supported answer. Rule d is explicit days; zero means no single documented day limit, never unlimited. Optional stay preserves calendar or variable periods. Rule label preserves precise wording; a lists alternative entry categories; n contains conditions; until is inclusive exemption expiry. Rule s and optional evidence reference source IDs. Sources include kind (government/reference), title, urls, checkedAt, optional sha256 and historical. Historical source dates are archive as-of dates, not claims of current verification. Reviewed replacements take precedence over withdrawals, legacy government rules and Passport Index. Unsupported withdrawn and expired claims cannot fall back to contradictory older answers. Merely unresolved routes retain prior answers with unresolved status. All 199 passports have 198 foreign destinations; current independent verification remains incomplete. Ordinary-passport short-tourist references do not determine every individual's admission, work or residence rights." }, "404": { "description": "Unknown passport" } } }
    },
    "/data/jobs-runtime.json": {
      "get": {
        "summary": "Jobs catalog snapshot",
        "responses": { "200": { "description": "JSON array of jobs (no descriptions)" } }
      }
    },
    "/data/events-runtime.json": {
      "get": {
        "summary": "Events catalog snapshot",
        "responses": { "200": { "description": "JSON events catalog" } }
      }
    },
    "/data/glossary-runtime.json": {
      "get": {
        "summary": "Glossary catalog snapshot",
        "responses": { "200": { "description": "JSON glossary catalog" } }
      }
    },
    "/data/news-cache.json": {
      "get": {
        "summary": "News headlines cache",
        "responses": { "200": { "description": "JSON news cache" } }
      }
    },
    "/agent-view.json": {
      "get": {
        "summary": "Agent capability index",
        "responses": { "200": { "description": "Static agent overview JSON" } }
      }
    }
  }
}
